h1 {
	flex-basis: 45%;
	margin-top: 3%;
	margin-bottom: 3%;
	margin-left: 5%;
	text-align: center;
	font-family: "Bebas Neue", sans-serif;
	font-weight: lighter;
	font-size: 35pt;
}

h2 {
	font-family: "Bebas Neue", sans-serif;
	font-weight: lighter;
	font-weight: 30pt;
}

body {
	font-family: Helvetica, sans-serif;
	background-color: rgb(248,232,205);
}

#dimensions {
	margin-top: 3.4%;
	display: flex;
	justify-content: center;
	width: 550px;
}

#dimensions label {
	margin-left: 2%;
}

input[type='radio']:checked:after {
    width: 12px;
    height: 12px;
    border-radius: 15px;
    top: -1px;
    left: -2px;
    position: relative;
    background-color: #7AAF42;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:after {
    width: 12px;
    height: 12px;
    border-radius: 15px;
    top: -1px;
    left: -2px;
    position: relative;
    background-color: #C4C2C2;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

#dimensions svg {
	height: 30px;
	width: auto;
	/* fill: pink; */ /* uncomment me to change the color of the icons... cool! :) */
}

#trail {
	width: 80%;
	margin: 0 auto;
}

header {
	display: flex;
	justify-content: center;
}

/* Needed this because the road doesn't show up as gray
for some reason when I export the SVG smh */
#trail rect {
	fill: #C4C2C2;
}

.slide-container {
	width: 100%; /* Width of the outside container */
	text-align: center;
	padding-top: 20px;
}
  
/* The slider itself */
.slider {
	-webkit-appearance: none;  /* Override default CSS styles */
	appearance: none;
	width: 80%; /* Full-width */
	height: 15px; /* Specified height */
	background: #C4C2C2; /* Grey background */
	border-radius: 5px;
	outline: none; /* Remove outline */
	opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: .2s; /* 0.2 seconds transition on hover */
	transition: opacity .2s;
	display: inline-block;
}

/* Mouse-over effects */
.slider:hover {
	opacity: 1; /* Fully shown on mouse-over */
}

#totals {
	margin-left: 11%;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	border-radius: 50%;
	width: 25px; /* Set a specific slider handle width */
	height: 25px; /* Slider handle height */
	background: #7AAF42; /* Green background */
	cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
	width: 25px; /* Set a specific slider handle width */
	height: 25px; /* Slider handle height */
	border-radius: 50%;
	background: #7AAF42; /* Green background */
	cursor: pointer; /* Cursor on hover */
}

.icon-container {
	height: 30px;
}

.icon-container svg {
	height: 30px;
	width: auto;
	position: absolute;
}

.hidden {
	visibility: none;
}

#insert-bike-south-here, #insert-ped-south-here {
	display: flex;
	flex-direction: row-reverse;
}
